<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Director's Message</title>
  <link href="https://fonts.googleapis.com" rel="preconnect" />
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet" />
  <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="../Styles/index.css" />
  <link rel="stylesheet" href="../Styles/director.css" />
  <link href="../Styles/loader.css" rel="stylesheet" />

  <script defer src="../Scripts/hamburger.js"></script>
  <script defer src="../Scripts/loader.js"></script>
</head>

<body>
  <div class="loader">
    <div class="video-wrapper">
      <video autoplay loop muted playsinline id="video" width="100%">
        <source src="../Assets/loader.mp4" type="video/mp4" />
      </video>
      <div class="shadow"></div>
    </div>

    <div class="hide">CLICK TO CONTINUE</div>
  </div>

  <div class="ham-grid">
    <div class="ham-logo ham-hide"><img src="../Assets/ham-logo.png" /></div>
    <div class="ham-img ham-hide">
      <img src="../Assets/ham-img.png" /><span></span>
    </div>

    <div class="ham-links">
      <div>
        <a href="../index.html">HOME</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeaXYR-sxWq_PFJqvdyatAyrQGzhyBKcTdNbAzTdgx0mhm31w/viewform?usp=sf_link">REGISTRATION</a>
        <a href="./esports.html">ESPORTS</a>
        <a href="./gallery.html">GALLERY</a>
            <!-- <a href="./sponsors.html">SPONSORS</a> -->
        <a href="./team.html">OUR TEAM</a>
      </div>
    </div>

    <div class="ham-text ham-hide">
      <img src="../Assets/ham-text.png" /><span></span>
    </div>
    <div class="ham-icons ham-hide">
     
      <a href="https://www.instagram.com/bkbietquasar/" target="_blank">
        <img aria-hidden="true" src="../Assets/Instagram.png" class="ham-icon" />
      </a>
    </div>
  </div>

  <nav class="nav absolute">
    <div class="right">
      <div class="ham-cont">
        <div class="hamburger">
          <span class="ham-1"></span>
          <span class="ham-2"></span>
          <span class="ham-3"></span>
        </div>
      </div>
    </div>
  </nav>

        <div class="director director-page" id="director">
          <h2 class="sec-header dir-header dir-header-page" id="dir-header-1">A MESSAGE FROM</h2>
          <h2 class="sec-header dir-header dir-header-page">THE DIRECTOR'S DESK</h2>
          <div class="dir-cont dir-cont-page">
            <div class="dir-profile dir-profile-page">
              <div class="dir-img-div">
                <img src="../Assets/director.png" alt="" class="dir-img">
                <!-- <div class="dir-leaves">
                  <img src="../Assets/left-leaf.png" alt="" class="dir-leaf" id="dir-left-leaf">
                  <img src="../Assets/right-leaf.png" alt="" class="dir-leaf" id="dir-right-leaf">
                </div> -->
              </div>

              <p class="dir-para dir-name">Dr. S M Prasanna Kumar</p>
              <p class="dir-para" id="dir-post">Director, BKBIET Pilani</p>
      </div>

      <div class="dir-msg-cont dir-msg-cont-page">
        <div class="dir-msg">
          <svg class="dir-quotes dir-quotes-page" id="dir-quote-start-page" width="144" height="114"
            viewBox="0 0 144 114" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M38.7504 113.002L58.0095 88.1744C53.9875 86.3181 49.9655 83.9977 45.9435 81.2132C42.0762 78.4288 38.905 74.7162 36.43 70.0754C34.1096 65.4346 32.9494 59.247 32.9494 51.5124L0 52.6725C0 64.5838 2.16568 74.5615 6.49706 82.6055C10.8284 90.8041 15.9333 97.3786 21.8116 102.329C27.8446 107.279 33.4908 110.837 38.7504 113.002ZM53.3687 52.6725V-9.15527e-05H0V52.6725H53.3687ZM123.908 113.002L143.167 88.1744C138.991 86.3181 134.969 83.9977 131.102 81.2132C127.234 78.4288 124.063 74.7162 121.588 70.0754C119.113 65.4346 117.875 59.247 117.875 51.5124L85.158 52.6725C85.158 64.5838 87.2463 74.5615 91.423 82.6055C95.7544 90.8041 100.937 97.3786 106.97 102.329C113.003 107.279 118.649 110.837 123.908 113.002ZM138.527 52.6725V-9.15527e-05H85.158V52.6725H138.527Z"
              fill="url(#paint0_radial_865_1333)" />
            <defs>
              <radialGradient id="paint0_radial_865_1333" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(74.0342 119.771) rotate(-90.7047) scale(199.241 111.876)">
                <stop stop-color="white" />
                <stop offset="0.554603" stop-color="#CACACA" />
                <stop offset="0.699897" stop-color="#E5E5E5" />
                <stop offset="1" stop-color="#32322F" />
              </radialGradient>
            </defs>
          </svg>

          <svg class="dir-quotes dir-quotes-page" id="dir-quote-end-page" width="144" height="114" viewBox="0 0 144 114"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M38.7504 113.002L58.0095 88.1744C53.9875 86.3181 49.9655 83.9977 45.9435 81.2132C42.0762 78.4288 38.905 74.7162 36.43 70.0754C34.1096 65.4346 32.9494 59.247 32.9494 51.5124L0 52.6725C0 64.5838 2.16568 74.5615 6.49706 82.6055C10.8284 90.8041 15.9333 97.3786 21.8116 102.329C27.8446 107.279 33.4908 110.837 38.7504 113.002ZM53.3687 52.6725V-9.15527e-05H0V52.6725H53.3687ZM123.908 113.002L143.167 88.1744C138.991 86.3181 134.969 83.9977 131.102 81.2132C127.234 78.4288 124.063 74.7162 121.588 70.0754C119.113 65.4346 117.875 59.247 117.875 51.5124L85.158 52.6725C85.158 64.5838 87.2463 74.5615 91.423 82.6055C95.7544 90.8041 100.937 97.3786 106.97 102.329C113.003 107.279 118.649 110.837 123.908 113.002ZM138.527 52.6725V-9.15527e-05H85.158V52.6725H138.527Z"
              fill="url(#paint0_radial_865_1333)" />
            <defs>
              <radialGradient id="paint0_radial_865_1333" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(74.0342 119.771) rotate(-90.7047) scale(199.241 111.876)">
                <stop stop-color="white" />
                <stop offset="0.554603" stop-color="#CACACA" />
                <stop offset="0.699897" stop-color="#E5E5E5" />
                <stop offset="1" stop-color="#32322F" />
              </radialGradient>
            </defs>
          </svg>
          <p class="dir-para dir-para-page">
            The value of sports is something we can't overlook. In today’s world, where technology and automation are advancing rapidly, we've gained a lot, but we've also lost touch with some essential habits—particularly those that keep us physically and mentally healthy. It’s becoming more important than ever to focus on our bodies and minds, rather than just getting caught up in the digital world. And sports are one of the best ways to help us make that shift. Whether it's something as simple as boosting our mood with a rush of dopamine, or more profound benefits like building teamwork, discipline, and maintaining a healthy lifestyle, sports are an irreplaceable part of living a well-rounded life.
          </p>

          <p class="dir-para dir-para-page">
            BKBIET Pilani has always been committed to the holistic development of its students, recognizing the importance of sports in shaping not just physical strength but also mental resilience and teamwork. It is with great pleasure that I welcome the return of QUASAR 2024, our Annual Sports Fest, after a brief hiatus. Sports are an essential part of life, and here at BKBIET, we view QUASAR as one of the most significant events on our calendar. It provides a unique platform for students to showcase their athletic talents, push their limits, and celebrate the true spirit of sportsmanship.
          </p>

          <p class="dir-para dir-para-page">
            It is with great enthusiasm that I welcome you to QUASAR 2024, the Annual Sports Fest of BKBIET Pilani, set to take place from the 29th of November to the 1st of December. As we gather once again for this vibrant celebration of sportsmanship, competition, and camaraderie, I am confident that this year's fest will be yet another remarkable chapter in the history of QUASAR.

            Each year, QUASAR serves as a platform for our students to showcase their athletic abilities, push their limits, and embrace the spirit of fair competition. This year's edition promises to be no different, as we come together to witness thrilling contests across a wide array of sports and events. Whether you're participating or cheering on your peers, the energy and enthusiasm of this event will be unparalleled.
            
            With the theme "Unleash the Champion Within," we encourage all our athletes to rise to the occasion, giving their best in every match, every game, and every event. This is a celebration of not just physical strength, but also the determination, perseverance, and teamwork that make sports truly inspiring.
          </p>

          <p class="dir-para dir-para-page">
            As the legendary Sachin Tendulkar once said, “People throw stones at you and you convert them into milestones.” This quote embodies the essence of what sports is all about — facing challenges head-on, turning adversity into success, and always striving for greatness. Let this spirit guide all our participants, as you rise to the occasion, embrace every challenge, and strive to reach new heights in your athletic journey.
          </p>

          <p class="dir-para dir-para-page" style="font-weight: 900">
            I extend my best wishes to the organizers and the participants for
            a great Meet.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>