<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />

  <title>&nbsp;Our Team</title>
  <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="../Styles/team.css" />
  <link href="../Styles/loader.css" rel="stylesheet" />
  <script defer src="../Scripts/hamburger.js"></script>
  <script defer src="../Scripts/index.js"></script>
  <script defer src="../Scripts/loader.js"></script>
</head>

<body>
  <div class="loader">
    <div class="video-wrapper">
      <video autoplay loop muted playsinline id="video" width="100%">
        <source src="../Assets/loader.mp4" type="video/mp4" />
      </video>
      <div class="shadow"></div>
    </div>

    <div class="hide">CLICK TO CONTINUE</div>
  </div>
 
  <div class="ham-grid">
    <div class="ham-logo ham-hide"><img src="../Assets/ham-logo.png" /></div>
    <div class="ham-img ham-hide">
      <img src="../Assets/ham-img.png" /><span></span>
    </div>

    <div class="ham-links">
      <div>
        <a href="../index.html">HOME</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeaXYR-sxWq_PFJqvdyatAyrQGzhyBKcTdNbAzTdgx0mhm31w/viewform?usp=sf_link">REGISTRATION</a>
        <a href="./esports.html">ESPORTS</a>
            <!-- <a href="./sponsors.html">SPONSORS</a> -->
        <a href="./gallery.html">GALLERY</a>
      </div>
    </div>

    <div class="ham-text ham-hide">
      <img src="../Assets/ham-text.png" /><span></span>
    </div>
    <div class="ham-icons ham-hide">
     
      <a href="https://www.instagram.com/bkbietquasar/" target="_blank">
        <img aria-hidden="true" src="../Assets/Instagram.png" class="ham-icon" />
      </a>
    </div>
  </div>

  <nav class="nav">
    <div class="right">
      <div class="ham-cont">
        <div class="hamburger">
          <span class="ham-1"></span>
          <span class="ham-2"></span>
          <span class="ham-3"></span>
        </div>
      </div>
    </div>
  </nav>

  <h2 class="dev-head">Our Team</h2>
  <div class="dev-body">

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/pranav.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Pranav</span>
      </h2>

      <p class="dev-dept">Video Editor</p>
      
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/praveen.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Praveen</span>
      </h2>

      <p class="dev-dept">Public Relations</p>

    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/urvashi.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Urvashi</span>
      </h2>

      <p class="dev-dept">Public Relations</p>
    
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/chetna.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Chetna</span>
      </h2>

      <p class="dev-dept">Public Relations</p>
      
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/lakshay.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Lakshay</span>
      </h2>

      <p class="dev-dept">Media Management</p>
     
    </div>

   

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/rishabh.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Rishabh</span>
      </h2>

      <p class="dev-dept">Media Management</p>
      
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/renu.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Renu</span>
      </h2>

      <p class="dev-dept">Public Relations</p>
     
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/yashashvi.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Yashashvi</span>
      </h2>

      <p class="dev-dept">Public Relations</p>
     
    </div>
    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/tanmay.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Tanmay</span>
      </h2>

      <p class="dev-dept">Media Management</p>
    </div> 
    
    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/sudhanshu.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Sudhanshu</span>
      </h2>

      <p class="dev-dept">Public Relations</p>
    </div>

    <div class="centre dev-profile back-1">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/aditya.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Aditya</span>
        <span>Malik</span>
      </h2>

      <p class="dev-dept">Developer</p>
      <p class="dev-links">
        <a class="dev-link" href="https://github.com/adityamalik7"><img src="../Assets/github.svg" /></a>
      </p>
    </div>

    <div class="centre dev-profile back-2">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/aman.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Aman</span>
        <span>Kumar</span>
      </h2>

      <p class="dev-dept">Developer</p>
      <p class="dev-links">
        <a class="dev-link" href="https://github.com/AMANKUMAR0101"><img src="../Assets/github.svg" /></a>
      </p>
    </div>
    
    <div class="centre dev-profile back-3">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/team-members/pulkit.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Pulkit</span>
        <span>Pareek</span>
      </h2>

      <p class="dev-dept">Developer</p>
      <p class="dev-links">
        <a class="dev-link" href="https://github.com/pulkitpareek18"><img src="../Assets/github.svg" /></a>
      </p>
    </div>
  </div>
</body>

</html>